USE [master]
GO
/****** Object:  Database [EmployeesDB]    Script Date: 08/03/21 20:53:21 ******/
CREATE DATABASE [EmployeesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmployeesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmployeesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeesDB]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 08/03/21 20:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MobileNumber] [nvarchar](50) NOT NULL,
	[Rank] [int] NOT NULL,
	[Salary] [money] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranks]    Script Date: 08/03/21 20:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranks](
	[RankId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ranks] PRIMARY KEY CLUSTERED 
(
	[RankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [MobileNumber], [Rank], [Salary], [Status]) VALUES (60, N'Syed', N'Hu', N'995555225955', 1, 1784.0000, 1)
INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [MobileNumber], [Rank], [Salary], [Status]) VALUES (61, N'Catherine', N'Zheng', N'995575360798', 1, 1078.0000, 1)
INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [MobileNumber], [Rank], [Salary], [Status]) VALUES (62, N'Kim', N'He', N'995574592208', 2, 1260.0000, 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Ranks] ON 

INSERT [dbo].[Ranks] ([RankId], [Name]) VALUES (1, N'Rank 1')
INSERT [dbo].[Ranks] ([RankId], [Name]) VALUES (2, N'Rank 2')
INSERT [dbo].[Ranks] ([RankId], [Name]) VALUES (3, N'Rank 3')
SET IDENTITY_INSERT [dbo].[Ranks] OFF
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Ranks] FOREIGN KEY([Rank])
REFERENCES [dbo].[Ranks] ([RankId])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Ranks]
GO
/****** Object:  StoredProcedure [dbo].[FilterEmployees]    Script Date: 08/03/21 20:53:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FilterEmployees]
    @pageNumber INT,
    @pageSize INT,
    @FirstName NVARCHAR(50) = NULL,
    @LastName NVARCHAR(50) = NULL,
    @Rank INT = NULL,
    @MinSalary MONEY = NULL,
    @MaxSalary MONEY = NULL
AS
BEGIN
    SELECT e.EmployeeId,
           e.FirstName,
           e.LastName,
           e.MobileNumber,
           r.RankId,
           r.Name,
           e.Salary,
           e.Status
    FROM Employees e
        INNER JOIN Ranks r
            ON e.Rank = r.RankId
    WHERE e.FirstName LIKE IIF(@FirstName IS NULL, e.FirstName, '%' + @FirstName + '%')
          AND e.LastName LIKE IIF(@LastName IS NULL, e.LastName, '%' + @FirstName + '%')
          AND e.Rank = IIF(@Rank IS NULL OR @Rank = 0, e.Rank, @Rank)
          AND e.Salary
          BETWEEN IIF(@MinSalary IS NULL, e.Salary, @MinSalary) AND IIF(@MaxSalary IS NULL OR @MaxSalary = 0, e.Salary, @MaxSalary)
    ORDER BY e.EmployeeId OFFSET ((@pageNumber) * @pageSize) ROWS FETCH NEXT @pageSize ROWS ONLY;
END;
GO
USE [master]
GO
